body{
    background-color: black;
}
a{
    text-decoration: none;
    color: #2a97a5;
    font-size: 15px;
}
.vidio{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 2s;
}
.animation{
    display: grid;
    justify-content: center;
    margin-bottom: 2.5rem;
}
.container{
    display: grid;
    margin-top: 4rem;
    justify-content: center;
}
.mp3{
    display: grid;
    grid-template-columns: repeat(1,1fr);

}